@charset "utf-8";
/**************************************************
= primary color add
    color primary ---------- rgba(231, 66, 145, 1) / #e74291
    color primary dark ----- #c82878 / rgba(200, 40, 120, 1)
    color primary light ----- rgba(231, 66, 145, 0.1)
********************/
.s-text-primary { color: rgba(231, 66, 145, 1) !important;}

.s-link-primary { color: rgba(231, 66, 145, 1);}	
.s-link-primary:hover,
.s-link-primary:focus { color: rgba(200, 40, 120, 1);}

.s-bg-primary { background-color: rgba(231, 66, 145, 1) !important;}

.s-border-primary { border-color: rgba(231, 66, 145, 1) !important;}

/* table ********************/
.s-table-primary {
	--bs-table-bg: rgba(231, 66, 145, 0.1);
	--bs-table-striped-bg: rgba(231, 66, 145, 0.1);
	--bs-table-striped-color: #000;
	--bs-table-active-bg: rgba(231, 66, 145, 0.15);
	--bs-table-active-color: #000;
	--bs-table-hover-bg: rgba(231, 66, 145, 0.15);
	--bs-table-hover-color: #000;
	color: #000;
	border-color: rgba(231, 66, 145, 0.3);
}

/* btn ********************/
.s-btn-primary {
	color: #fff;
	background-color: rgba(231, 66, 145, 1);
	border-color: rgba(231, 66, 145, 1);
}
.s-btn-primary:hover {
	color: #fff;
	background-color: rgba(200, 40, 120, 1);
	border-color: rgba(200, 40, 120, 1);
}
.btn-check:focus + .s-btn-primary,
.s-btn-primary:focus {
	color: #fff;
	background-color: rgba(200, 40, 120, 1);
	border-color: rgba(200, 40, 120, 1);
	box-shadow: 0 0 0 0.25rem rgba(200, 40, 120, 0.5);
}
.btn-check:checked + .s-btn-primary,
.btn-check:active + .s-btn-primary,
.s-btn-primary:active,
.s-btn-primary.active,
.show > .s-btn-primary.dropdown-toggle {
	color: #fff;
	background-color: rgba(200, 40, 120, 1);
	border-color: rgba(200, 40, 120, 1);
}
.btn-check:checked + .s-btn-primary:focus,
.btn-check:active + .s-btn-primary:focus,
.s-btn-primary:active:focus,
.s-btn-primary.active:focus,
.show > .s-btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(200, 40, 120, 0.5);
}
.s-btn-primary:disabled,
.s-btn-primary.disabled {
	color: #fff;
	background-color: rgba(231, 66, 145, 1);
	border-color: rgba(231, 66, 145, 1);
}
.s-btn-outline-primary {
	color: rgba(231, 66, 145, 1);
	border-color: rgba(231, 66, 145, 1);
}
.s-btn-outline-primary:hover {
	color: #fff;
	background-color: rgba(231, 66, 145, 1);
	border-color: rgba(231, 66, 145, 1);
}
.btn-check:focus + .s-btn-outline-primary,
.s-btn-outline-primary:focus {
	box-shadow: 0 0 0 0.25rem rgba(200, 40, 120, 0.5);
}
.btn-check:checked + .s-btn-outline-primary,
.btn-check:active + .s-btn-outline-primary,
.s-btn-outline-primary:active,
.s-btn-outline-primary.active,
.s-btn-outline-primary.dropdown-toggle.show {
	color: #fff;
	background-color: rgba(231, 66, 145, 1);
	border-color: rgba(231, 66, 145, 1);
}
.btn-check:checked + .s-btn-outline-primary:focus,
.btn-check:active + .s-btn-outline-primary:focus,
.s-btn-outline-primary:active:focus,
.s-btn-outline-primary.active:focus,
.s-btn-outline-primary.dropdown-toggle.show:focus {
	box-shadow: 0 0 0 0.25rem rgba(200, 40, 120, 0.5);
}
.s-btn-outline-primary:disabled,
.s-btn-outline-primary.disabled {
	color: rgba(231, 66, 145, 1);
	background-color: transparent;
}

/* alert ********************/
.s-alert-primary {
	color: rgba(200, 40, 120, 1);
	background-color: rgba(231, 66, 145, 0.1);
	border-color: rgba(231, 66, 145, 0.3);
}
.s-alert-primary .alert-link {
	color: #06357a;
}

/* list-group ********************/
.s-list-group-item-primary {
	color: rgba(200, 40, 120, 1);
	background-color: rgba(231, 66, 145, 0.1);
}
.s-list-group-item-primary.list-group-item-action:hover,
.s-list-group-item-primary.list-group-item-action:focus {
	color: rgba(200, 40, 120, 1);
	background-color: rgba(231, 66, 145, 0.2);
}
.s-list-group-item-primary.list-group-item-action.active {
	color: #fff;
	background-color: rgba(200, 40, 120, 1);
	border-color: rgba(200, 40, 120, 1);
}

/* card ********************/
.s-card {
	background-color: #fff;
	border-color: rgba(231, 66, 145, 0.3);
}
.s-card .card-header {
	color: rgba(200, 40, 120, 1);
	background-color: rgba(231, 66, 145, 0.1);
	/*border-bottom-color: rgba(231, 66, 145, 0.3);*/
}
.s-card .card-footer {
	background-color: rgba(231, 66, 145, 0.05);
	/*border-top-color: rgba(231, 66, 145, 0.3);*/
}