@charset "utf-8";
/**************************************************
= s-headline
********************/
.s-headline { position: relative;}
.s-headline .container-fluid { display: flex!important; justify-content: space-between!important; align-items: center!important;}
.s-headline .s-breadcrumb { order: -1!important;}

.s-headline .breadcrumb-item a,
.s-headline .breadcrumb-item a:active,
.s-headline .breadcrumb-item a:hover,
.s-headline .breadcrumb-item a:focus,
.s-headline .s-account { color: #6c757d; text-decoration: none; outline: none;}

.s-headline .s-account { text-align: right;}

.s-headline .s-item-btn .btn { padding: 0 .5rem; vertical-align: middle;}
.s-headline .breadcrumb .btn { position: relative; margin-top: -2px; margin-left: .5rem; padding: 0 .25rem; font-size: 12px;}

@media (max-width: 575.98px) {
.s-headline .container-fluid { display: block !important;}
.s-headline .s-account { margin-bottom: .5rem; padding-bottom: .5rem; border-bottom: 1px solid rgba(0,0,0,.125);}
}

/**************************************************
= s-btn-scrollup
********************/
a.s-btn-scrollup { display: none; z-index: 99; position: fixed; bottom: 15px; right: 10px; padding: 1rem .5rem; line-height: 1; background-color: rgba(231, 66, 145, .75); border-radius: 100rem; transition: all .3s;}
a.s-btn-scrollup:hover { background-color: rgba(231, 66, 145, 1);}
a.s-btn-scrollup,
a.s-btn-scrollup:active,
a.s-btn-scrollup:hover,
a.s-btn-scrollup:focus { color: #fff; text-decoration: none !important; outline: none !important;}

@media (min-width: 1200px) {
a.s-btn-scrollup { right: 20px;}
}

/**************************************************
= s-content
********************/
.s-content { position: relative; padding: 1.5rem 0;}

@media (min-width: 1200px) {
.s-content { padding: 1.5rem;}
}