@charset "utf-8";
/**************************************************
= link
********************/
@import url(s-layout.css);
@import url(s-header.css);
@import url(s-color.css);

/**************************************************
= fix bootstrap
********************/

/* fix table ********************/
.table {}

/* add */
.s-table th { background-color: rgba(0, 0, 0, 0.05);}

/* fix card ********************/
.card-header { font-weight: bold;}
.card-header .btn { margin-left: .5rem; padding: .15rem .75rem;}

/* add */
.s-card-mb { margin-bottom: 1.5rem;}/*固定下方距離*/

/**************************************************
= s-list-btn 選單頁按鈕
********************/
.s-list-btn { display: flex !important; flex-wrap: wrap !important;}
.s-list-btn .s-item-btn { position: relative; width: 130px; height: 130px; margin: .5rem; text-align: center; background: url("../img/btn-bg.png") no-repeat center center; background-size: contain; overflow: hidden;}
.s-list-btn .s-item-btn {}
.s-list-btn .s-item-btn a { display: block; margin: 0; padding: 0;}
.s-list-btn .s-item-btn img { width: 100%; height: auto;}

.s-list-btn .s-item-btn .s-text { position: absolute; display: flex !important; flex-direction: column; justify-content: center !important; top: 0; left: 0; width: 100%; height: 100%;}
.s-list-btn .s-item-btn .s-text { font-family: "Trebuchet MS", "Myriad Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Lucida Grande", "Helvetica Neue", Arial, 'Microsoft Yahei', 'Microsoft JhengHei', 微軟正黑體, 新細明體, "Lucida Sans Unicode", sans-serif !important; letter-spacing: .1rem !important; line-height: 1.3 !important; font-size: 1.3rem; color: #fff;}
