/* Provide sufficient contrast against white background */
html, body {
    overflow-x: hidden; /*Prevent scroll on narrow devices */
    height: 100%;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
    padding-top: 56px;
    min-height: 100%;
    /*background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);*/
    /*background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);*/
    /*background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);*/
    /*background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);*/
    background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
    font-family: 'Noto Sans TC', sans-serif;
}

a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

    .error-actions .btn {
        margin-right: 10px;
    }

.btn-primary {
    color: #fff;
    /*background-color: #0d6efd;*/
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    border-color: #0d6efd;
}
