/* Provide sufficient contrast against white background */
html, body {
    overflow-x: hidden; /*Prevent scroll on narrow devices */
    height: 100%;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
    padding-top: 56px;
    min-height: 100%;
    /*background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);*/
    /*background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);*/
    /*background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);*/
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    font-family: 'Noto Sans TC', sans-serif;
}

a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

/*.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
*/
/*body {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
}*/

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

    .error-actions .btn {
        margin-right: 10px;
    }
